@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: 
        linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        background-attachment: fixed;
        font-family: 'Poppins', sans-serif;
    /* Set baseline values */
    font-size: 1rem;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}

.description {
    font-style: italic;
    font-weight: 200;
    margin-top: 0;
}

.container * {
    text-align: center;
}

.container {
    margin: 3.125rem auto 0 auto;
    width: 100%;
}

button {
    border: none;
}

form {
    background-color: rgba(27, 27, 50, 0.8);
}