@import url('https://fonts.googleapis.com/css?family=Poppins:200i,400&display=swap');

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    background-image: 
        linear-gradient(115deg, rgba(58, 58, 158, 0.8), rgba(136, 136, 206, 0.7)),
        url(https://cdn.freecodecamp.org/testable-projects-fcc/images/survey-form-background.jpeg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-attachment: fixed;
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    line-height: 1.4;
    color: white;
}

.text-center {
    text-align: center;
}

.description {
    font-style: italic;
    font-weight: 200;
    margin-top: 0;
}

.container {
    width: 100%;
    margin: 3rem auto 0 auto;
}

@media (min-width: 576px) {
    .container {
        max-width: 540px;
    }
}

@media (min-width: 750px) {
    .container {
        max-width: 720px;
    }
}

header {
    margin-bottom: 1rem;
}
label {
    display: flex;
    align-items: center;
}

p {
    margin-top: 0;
    margin-bottom: 0.3rem;
}

form {
    background-color: rgba(27, 27, 50, 0.8);
    padding: 2rem 0.6rem;
    border-radius: 0.25rem;
}

@media (min-width: 480px) {
    form {
        padding: 2.5rem;
    }
}

.form-group {
    margin: 0 auto 1.25rem auto;
}

.form-control {
    width: 100%;
    height: 2.5rem;
    border-radius: 0.25rem;
    padding: 0.3rem 0.5rem;
}

.input-radio,
.input-checkbox {
    margin-right: 0.6rem;
    display: inline-block;
}

#feedback {
    width: 100%;
    height: 5rem;
}

#submit {
    color: white;
    background-color: #37af65;
    width: 100%;
    border: none;
    height: 2.5rem;
    border-radius: 0.25rem;
}